.jumbotron {
	background-color: lightblue;
	color: white;
	line-height: 15px;
	padding-top: 50px;
	padding-bottom: 10px;

}

.card-marca {
	flex: 1 220px;
	margin-top: 10px;
}

.btn-marca {
	width: 100%;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: lightblue;
	margin-bottom: 10px;
	margin-top: 10px;
}

.footer-addres-icon{
	padding-right: 10px;
}

.card-addres-icon{
	padding-right: 5px;
}

.carousel {
	position: middle;
    width: 400px;
    height: 300px;
}

.carousel-caption{
	color: orange;
}