$amarillo: #ffff00;
$rojo: #ff0000;
$verde: #00ff00;
$celeste: #add8e6;

@mixin estilo($margTop,$margBot,$backColor,$padding){
	margin-top: $margTop;
	margin-bottom: $margBot;
	background-color: $backColor;
	padding: $padding;
}

.jumbotron {
	color: white;
	line-height: 15px;
	@include estilo(0px,32px,$celeste,50px 32px 10px 32px);
}

.card-marca {
	flex: 1 220px;
	margin-top: 10px;
}

.btn-marca {
	width: 100%;
}

footer {
	@include estilo(10px,10px,$celeste,10px 10px 0px 10px);
}

.footer-addres-icon{
	padding-right: 10px;
}

.card-addres-icon{
	padding-right: 5px;
}

.carousel {
	position: middle;
    width: 400px;
    height: 300px;
}

.carousel-caption{
	color: orange;
}