.jumbotron {
  color: white;
  line-height: 15px;
  margin-top: 0px;
  margin-bottom: 32px;
  background-color: #add8e6;
  padding: 50px 32px 10px 32px; }

.card-marca {
  flex: 1 220px;
  margin-top: 10px; }

.btn-marca {
  width: 100%; }

footer {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #add8e6;
  padding: 10px 10px 0px 10px; }

.footer-addres-icon {
  padding-right: 10px; }

.card-addres-icon {
  padding-right: 5px; }

.carousel {
  position: middle;
  width: 400px;
  height: 300px; }

.carousel-caption {
  color: orange; }
